.AboutTxt .collapse-container {
    width:75%;
    margin-left:12.5%;
    min-height: 52px;
    border-radius: 10px;
    align-content: baseline;
    margin-top: 26px
}

 /*Responsive*/
 @media (max-width: 769px) {
    .collapse-container{
        margin-bottom:30px;
    }
 }