.banner img{
    width: 86%;
    height: 223px;
    background-size: cover;
    border-radius: 25px;
    filter: brightness(0.7);
    margin: 49px auto 43px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items:center;
	border-radius: 25px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-color: #ccc;
	object-fit: cover;
}
