.Footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    background-color: black;
    color: white;
  }
  
  .logo_footer {
    width: 120px;
    filter: brightness(1000%);
    margin-bottom: 40px;
  }
  
  /*Responsive*/
  @media (max-width: 769px) {
    .Footer {
      font-size: 14px;
    }
    .logo_footer {
      width: 80px;
      margin-bottom: 25px;
    }
  }
  

  
  