.Header {
    display: flex;
    align-items: flex-end;
    margin: 50px 0;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    }
    
    .Header img {
    width: auto;
    margin-left:100px;
    }
    
    .Header nav {
    margin-left: auto;
    }
    
    .Header nav .Link {
    margin-left: 57px;
    margin-right: 100px;
    color: #FF6060;
    text-decoration: none;
    }

    .Header nav .Link:hover {
        text-decoration: underline;
    }