.texts {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 86%; /*1240px;*/
  display: flex;
  flex-wrap: wrap;
  margin: 5px auto 10px;
  align-content: baseline;
  justify-content: space-between
}

.title {
  color: #FF6060;
  font-size: 24px; 
  margin-bottom: 0;
  margin-top: 35px
}

.host-info {
  display: flex;
  align-items: center;
  text-align: end;
  justify-content: flex-end;
  margin-top: 26px;
}

.host-picture {
  border-radius: 50%;
  width: 60%
}

.top {
  width: 80%
}

.texts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative
}
